input {
	display:none;
}
label{
	position:relative;
}
label:before{
	content:"";
	display:block;
	width:10px;
	height: 10px;
	position: absolute;
	border:1px solid white;
}
input:checked +label:before{
	background-color: white;
}