* {
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
	background-image: url("images/patt.png");
}
.container{
	width:1170px;
	margin:0 auto;
}
[class*="col-"]{
	float:left;
}

.col-md-3{
	width:25%;
}
.col-md-6{
	width:50%;
}
.row:after{
	content:"";
	clear:both;
	display:block;
}
.header{
	padding: 25px 0;
	background-color: rgba(255,255,255,0.75);
}
.menu li{
	width: 25%;
	float: left;
	border-left: 1px solid #2c71b8;
}
.menu li:last-child{
	border-right: 1px solid #2c71b8;
}
.menu li a{
	display: block;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color:#2c71b8;
	text-decoration: none;
	font-size: 21px;
}
.menu li a:hover{
background-color: #2c71b8;
color:white;
}
.col-md-2{
	width:66%;
}
.col-md-1{
	width:33%;
}
.search-box{
	position: relative;
	
}
.search div{
	border: 1px solid #2c71b8;
}
.search{
	position: absolute;
	padding:0;
	width: 100%;
	right: 0;
	left: 0;
	margin: auto;
	max-width: 300px;
}
.input{
	position:relative;
}
.search_input{
	padding-right: ;
	display:block;
	width:100%;
	box-sizing: border-box !important;
	padding-left: 19px;
}
.button{
	position:absolute;
	right: 4px;
	width: 30px;
	height: 30px;
	margin:auto;
	background-color: #2c71b8;
	border:none;

}
.button:before{
	content:url(images/search.png);
}